@import '@/styles/variable.less';
@import '@/styles/mixin.less';

.userLogo {
  .square(72px);
}

.userContent {
  flex: 1;
  margin-left: @margin-lg;

  .title {
    margin-bottom: @margin-sm;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
}
