@import '@/styles/variable.less';
@import '@/styles/mixin.less';

.profile {
  display: flex;
  justify-content: space-between;
}

.userLogo {
  .square(72px);
}

.userContent {
  flex: 1;
  margin-left: @margin-lg;

  .title {
    margin-bottom: @margin-sm;
    color: @text-title-color;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
}

 .statistics {
  display: flex;
  column-gap: 48px;
  margin-left: auto;

  :global {
    .ant-statistic {
      text-align: end;
    }
  }
 }
