@import '@/styles/variable.less';

.header {
  height: @layout-top-bar-height;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  padding: 0 @padding-md;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: @white-color;
}

.username {
  cursor: pointer;
}
