@import '@/styles/variable.less';

.header {
  height: @layout-top-bar-height;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  padding: 0 @padding-md;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: @white-color;
  z-index: 1000;
}

.logo {
  height: @layout-logo-height;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.username {
  cursor: pointer;
}
