@import '@/styles/variable.less';

.layout {
  display: flex;
  min-height: 100vh;
}

.sider {
  width: @layout-nav-sidebar-width;
  background-color: aquamarine;
}

.container {
  flex: 1;
}

.header {
  height: @layout-top-bar-height;
  background-color: cadetblue;
}