@import '@/styles/variable.less';

.layout {
  display: flex;
  min-height: 100vh;
}

.sider {
  width: @layout-nav-sidebar-width;
  background: #006d75;
}

.logo {
  height: @layout-logo-height;
  color: @white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.menus {
  background: #006d75;
  color: @white-color;

  &:global(.ant-menu-inline) {
    border: none;
  }

  :global(.ant-menu-sub) {
    background: #00686f;
  }

  :global(.ant-menu-submenu-title) {
    &:hover {
      color: @white-color;
    }
  }

  :global(.ant-menu-submenu-selected) {
    color: @white-color;
  }

  :global(.ant-menu-submenu-arrow) {
    color: @white-color !important;
  }

  :global(.ant-menu-item) {
    width: 100%;

    a {
      color: @white-color;
    }

    &::after {
      border: none;
    }
  }

  :global(.ant-menu-item-selected) {
    background: #08979c !important;
  }
}

.container {
  flex: 1;
}
