@import "@/styles/variable.less";

.desc {
  color: @text-title-color;
  font-size: @font-size-sm;

  &Title {
    margin: @margin-xs 0px @margin-xss;
  }
}

.icon {
  margin-left: @margin-xs;
  color: @primary-color;
}