@import '@/styles/variable.less';

.header {
  padding: @padding-md @padding-lg;
}

.white {
  background-color: @white-color;
}

.title {
  color: @text-title-color;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.content {
  margin-top: @margin-md;
  color: @text-gray-color;
  display: flex;
  align-items: center;
  font-size: @font-size-base;
}
